body {
  background-color: chocolate;
  text-align: center;
  font-family: cursive;
  color: white;

}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkseagreen;
  text-align: center;
}

.nav-item {
  float: left;

}
.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #111;
}
